
:root{
/*Colour palette*/ 

--vanilla: rgba(241, 232, 184, 1);
--flax: rgba(249, 231, 132, 1);
--flaxBC: rgba(249, 231, 132, 0.5);
--flaxNeon: rgb(255, 234, 131);
--atomic-tangerine: rgba(229, 143, 101, 1);
--indian-red: rgba(208, 83, 83, 1);
--eerie-black: rgba(25, 25, 25, 1);
--dark-purple: rgba(59, 28, 50, 1);
--baby-powder: rgba(251, 254, 251, 1);
--yale-blue: rgba(8, 61, 119, 1);
--yale-blueBC: rgba(8, 61, 119, 0.5);
--yale-blueNeon: rgb(18, 98, 185);

--button-active: rgb(43, 41, 41); 

--text: rgba(135, 140, 143);
}


/*Centering the site */
.title {
    width: 50%; 
    margin: auto; 
 }    

 /*Centering the title */
.content {
    width: 50%; 
    margin: auto; 
    
 }

/*Modifying the default tags*/
body{
  background-color:var(--eerie-black);  
  font-family: Verdana, Geneva, sans-serif;
  color: var(--vanilla);
  font-weight: 4000;

}

h1{ 
  
  letter-spacing: -1.2px;
  word-spacing: 0.4px;
  
 
  text-decoration: none;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  border: 5px solid var(--yale-blue); 
  background: var(--yale-blueBC);
  width: fit-content;
  padding: 4px;
  
}

h2{
  text-decoration: underline solid var(--yale-blueBC);
  padding: 4px;

}

.about{
  border-left: 3px solid var(--yale-blueBC); 
  padding: 4px;
}

a {
    text-decoration: none;
}

/*CUSTOM BUTTONS*/

/*Buttons*/

/*Buttons without a description*/
StBtn {
  
  display: flex;

  position: relative;
  justify-content: center;
  align-items: center;

  width: fit-content;
  background-color: var(--yale-blueBC);
  padding: 16px; 
  font-size: 24px; 

  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  min-width: 24px;

  cursor: pointer; 
  border-radius: 12%;
  box-shadow: 0 9px var(--button-active);
  border: 3px solid var(--yale-blueNeon);
  color: var(--vanilla);
}
StBtn:hover{
  background-color: var(--yale-blue);

}
StBtn:active{
  background-color: var(--yale-blue);
  box-shadow: 0 5px var(--button-active);
  transform: translateY(5px);
  
}

/*Dynamic buttons*/

btn {
  
  display: flex;

  position: relative;
  justify-content: center;
  align-items: center;

  width: fit-content;
  background-color: var(--yale-blueBC);
  padding: 16px; 
  font-size: 20px; 

  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  min-width: 24px;

  cursor: pointer; 
  border-radius: 12%;
  box-shadow: 0 9px var(--button-active);
  border: 3px solid var(--yale-blueNeon);
  color: var(--vanilla);
  transition: transform 0.3s ease, opacity 0.3s ease;

}

.icon{
  
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
  justify-content: center;
  align-items: center;
  color: var(--vanilla);

}

btn:hover .icon{
  transform: translateY(15px);
  opacity: 0;
}
.BL-anchor{
  position: fixed;
  bottom: 20px;
  left: 10px;
  z-index: 100;
  }

/* Info Block Styling */
.infoTitle {

  position: relative;
  padding: 10px 20px;
  border: 2px inset var(--yale-blueBC);
  width: 50%;
  height: 24px;
  background: var(--yale-blueBC);
  border: solid var(--yale-blueNeon);
  border-radius: 5px;
  justify-self: right;
  justify-items: right;
  display: block;

}
.infoTag {

  position: relative;
  padding: 10px 20px;
  border: 2px inset var(--yale-blueBC);
  width: 50%;

  background: var(--yale-blueBC);
  border: solid var(--yale-blueNeon);
  border-radius: 5px;
  justify-self: left;
  display: block;
    

}
.infoBlock {

  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
  width:inherit;
  height: 48px;
  background: var(--yale-blueBC);
  border: solid var(--yale-blueNeon);
  justify-items: center;
  display: block;
}
.container {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  width: 100%;
  max-width: 375px;
  overflow-x:hidden;
  scrollbar-width: none;
  max-height: 200px;

}

.context {
  margin-top: 10px;
}

/*
TO DO 

  WIN99 TYPE BLOCKS / BUTTONS
  ADD A CUSTOM BACKGROUND BECAUSE A FLAT COLOUR IS REALLY LAME TBH


*/