
:root{
/*Colour palette*/ 

--vanilla: rgba(241, 232, 184, 1);
--flax: rgba(249, 231, 132, 1);
--flaxBC: rgba(249, 231, 132, 0.5);
--flaxNeon: rgb(255, 234, 131);
--atomic-tangerine: rgba(229, 143, 101, 1);
--indian-red: rgba(208, 83, 83, 1);
--eerie-black: rgba(25, 25, 25, 1);
--dark-purple: rgba(59, 28, 50, 1);
--baby-powder: rgba(251, 254, 251, 1);
--yale-blue: rgba(8, 61, 119, 1);
--yale-blueBC: rgba(8, 61, 119, 0.5);
--yale-blueNeon: rgb(18, 98, 185);

--button-active: rgb(43, 41, 41); 

--text: rgba(135, 140, 143);

--win95-red: rgba(227,95,95, 1);
--win95-blue: rgba(57,77,205, 1);
--win95-yellow: rgba(223,227,0, 1);
--win95-green: rgba(32,140,113, 1);
--win95-grey: rgba(108,108,108, 1);
--win95-border: rgba(165, 165, 165, 1);
--black: rgba(0, 0, 0 , 1);
--white: rgba(255, 255, 255, 1);

font-family: 'Trebuchet MS', sans-serif;
background: url(/lib/img/Wallpapers/win95\ wallpaper.jpg);
}



/*Modifying the default tags*/
body{


  color: var(--vanilla);
  font-weight: 4000;
}

h1{ 
  
  letter-spacing: -1.2px;
  word-spacing: 0.4px;
  
 
  text-decoration: none;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  border: 1px outset var(--win95-border); 
  background: var(--win95-grey);
  width: inherit;
  padding: 4px;
  margin-top: 0px
  
}

h2{
  text-decoration: underline solid var(--win95-grey);
  padding: 4px;

}



a {
    text-decoration: none;
}
p {
  background-color: var(--win95-grey);
  border: 3px outset var(--win95-border);
}
h3 {
  background-color: var(--win95-grey);
  border: 3px outset var(--win95-border);
}
h2 {
  background-color: var(--win95-grey);
  border: 3px outset var(--win95-border);
}

.bkg{

  background:var(--win95-green); ;

  z-index: 100;
  position: fixed;
  bottom: 5%;
  top: 5%;
  right: 5%;
  left: 5%;
  border: 5px solid var(--dark-purple);
}
/*Centering the site */
.title {
  width: 80%; 
  margin: auto;
  margin-top: 24px; 

}    

/*Centering the title */
.content {
  width: 80%; 
  margin: auto; 
  
}
.about{
  padding: 4px;
}

.clock {
  
  position: fixed;
  bottom: 10%;
  right: 10%;
  width: fit-content;
  height: fit-content;
  padding: 5px;
}
clockbody{
  width: 1000px;
  height: fit-content;
  background-color: var(--win95-grey);
  border: 3px solid var(--win95-border);
}
/*CUSTOM BUTTONS*/

/*Buttons without a description*/
StBtn {
  
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: var(--win95-grey);
  padding: 16px; 
  font-size: 24px; 
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  min-width: 24px;
  cursor: pointer;
  box-shadow: 0 9px var(--button-active);
  border: 3px outset var(--win95-border);
  color: var(--vanilla);
}
StBtn:hover{
  background-color: var(--win95-blue);

}
StBtn:active{
  background-color: var(--win95-green);
  box-shadow: 0 5px var(--button-active);
  transform: translateY(5px);
}
/*Dynamic buttons*/

btn {

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: var(--win95-grey);
  padding: 16px; 
  font-size: 20px; 
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  min-width: 24px;
  cursor: pointer; 
  border: 3px outset var(--win95-border);
  color: var(--vanilla);
  transition: transform 0.3s ease, opacity 0.3s ease;

}
.icon{
  
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
  justify-content: center;
  align-items: center;
  color: var(--vanilla);

}
btn:hover{
  background-color: var(--win95-blue);

}
btn:hover .icon{
  transform: translateY(15px);
  opacity: 0;
}
.BL-anchor{
  position: fixed;
  top: 7%;
  right: 6%;

  }

/* Info Block Styling */
.infoTitle {

  position: relative;
  padding: 10px 20px;
  width: 50%;
  height: 24px;
  border-left: 1px solid var(--win95-border);
  justify-self: right;
  justify-items: right;
  display: block;
  height: fit-content;

}
.infoTag {

  position: relative;
  padding: 10px 20px 10px 10px;
  width: 50%;
  height: 24px;
  justify-self: left;
  justify-items: left;
  display: block;
  height: fit-content;

}
.infoBlock {
  position: relative;
  height: fit-content;
  border-top: 1px solid var(--win95-border);
  justify-items: center;
  display: block;
  
}
.container {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  width: 100%;
  max-width: 186px;
  overflow-x:hidden;
  scrollbar-width: none;
  max-height: 200px;
}
.bar {
  background: url(/lib/img/InfoBar.png); 
  width: 375px;
  height: 20px;
  margin-top: 10px;
  border: 1px solid var(--win95-border);
}
.StartBar {

  background: url(/lib/img/Dynamicbar/Start.png); 
  width: 3px;
  height: 20px;
  border-top: 0px solid var(--win95-border);
}
.BodyBar {

  background: url(/lib/img/Dynamicbar/Body.png); 
  width: calc(100% - 23px);
  height: 20px;
  border-top: 0px solid var(--win95-border);
}
.EndBar {

  position:sticky;
  background: url(/lib/img/Dynamicbar/End.png); 
  width: 20px;
  height: 20px;
  border-top: 0px solid var(--win95-border);
}


.box {
  background-color: var(--win95-grey);
  width: 373px;
  border: 1px outset var(--win95-border);
  margin-top: 10px;
  display: none;
}


taskbar {
  position: fixed;
  bottom: 5.6%;
  left: 5.3%;
  height: 30px;
  width: 89.3%;
  background-color: var(--win95-grey);
  border-top: 3px  solid var(--win95-border);
  z-index: 100;
  
}
.win95logo {
  height: 28px;
  width: 30px;

  border: 1px outset var(--win95-border);
}

.asciiart {
  position: fixed;
  top: 35%;
  left: 5%;
  z-index: -1;
  
  
}
/*
TO DO 

  WIN99 TYPE BLOCKS / BUTTONS
  ADD A CUSTOM BACKGROUND BECAUSE A FLAT COLOUR IS REALLY LAME TBH


*/

